{% extends "base.html" %}
{% block conteudo %}
<h2 style="text-align: center;">Atualizar Curso {{curso.nome}}</h2>
<hr>
<form class="form-control" action="/atualizar_curso/{{curso.id}}" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input class="form-control" type="text" name="nome" value="{{curso.nome}}" id="nome_do_curso" required>
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input class="form-control" type="text" name="descricao" value="{{curso.descricao}}" id="descricao_do_curso" required>
    </div>
    <div class="mb-3">
        <label for="ch" class="form-label">CH</label>
        <input class="form-control" type="number" name="ch" value={{curso.ch}} id="ch_do_curso" required>
    </div>
        <button class="btn btn-outline-success" type="submit">Atualizar Curso</button>
</form>
{% endblock %}
