{% extends "base.html" %}
{% block conteudo %}
<h2 style="text-align: center;">Lista de Cursos</h2>
<hr>
<a href="/criar_curso" class="btn btn-secondary">Adicionar Curso</a>
<br><br>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do Curso</th>
        <th scope="col">Descrição do Curso</th>
        <th scope="col">Carga Horária do Curso</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
      <tr>
        <th scope="row">{{curso.id}}</th>
        <td>{{curso.nome}}</td>
        <td>{{curso.descricao}}</td>
        <td>{{curso.ch}}</td>
        <td>
          <a href="/atualizar_curso/{{curso.id}}" class="btn btn-secondary btn-sm">Editar</a>
          <a href="/excluir_curso/{{curso.id}}" onclick="return confirm('Deseja realmente excluir esse registro?')" class="btn btn-danger btn-sm">Excluir</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}