{% extends "base.html" %}
{% block conteudo %}
<h2 style="text-align: center;">Lista de Frutas</h2>
<hr>
<ul class="list-group">
    {% for fruta in frutas %}
    <li class="list-group-item">{{fruta}}</li>
    {% endfor %}
</ul>
<form action="/index" method="post">
    <div class="mb-3">
        <label for="exemploInputFruta" class="form-label">Fruta</label>
        <input type="text" name="fruta" class="form-control" id="exemploInputFruta" placeholder="Digite uma fruta"  required>
    </div>
    <button type="submit" class="btn btn-success">Adicionar</button>
</form>

{% endblock conteudo %}