{% extends "base.html" %}
{% block conteudo %}
<h2 style="text-align: center;">Diário do Professor</h2>
<hr>
{% for registro in registros %}
<!-- <details>
    <summary>{{registro.aluno}}</summary>
   <p>{{registro.nota}}</p>
</details> -->
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample_{{registro.aluno}}" role="button" aria-expanded="false" aria-controls="collapseExample_{{registro.aluno}}">
        {{registro.aluno}}
    </a>
</p>
<div class="collapse" id="collapseExample_{{registro.aluno}}">
    <div class="card card-body">
        {{registro.nota}}
    </div>
</div>
{% endfor %}
<form action="/sobre" method="post">
    <div class="mb-3">
        <label for="exemploInputAluno" class="form-label">Aluno</label>
        <input type="text" name="aluno" class="form-control" id="exemploInputAluno" placeholder="Digite o nome de um aluno" required>
    </div>
    <div class="mb-3">
        <label for="exemploInputNota" class="form-label">Nota</label>
        <input type="text" name="nota" class="form-control" id="exemploInputNota" placeholder="Digite a nota de um aluno" required>
    </div>
    <button type="submit" class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}